trigger:
  - none

pool:
  vmImage: 'ubuntu-22.04'


steps:

  - pwsh: |
      Write-Host "Setting up the date time for build variable"
      $date=$(Get-Date -format yyyyMMdd-H:mm:ss)
      Write-Host "##vso[task.setvariable variable=currentTimeStamp]$date"
    displayName: 'Getting timestamp'

  - script: |
      sudo apt-get update
      sudo apt-get install -y zip
      sudo apt-get install -y wget
      sudo apt-get install -y ca-certificates
      sudo apt-get install -y libnss3-dev libasound2 libxss1 libappindicator3-1 gconf-service 
      sudo apt-get install -y libgconf-2-4 libpango1.0-0 xdg-utils fonts-liberation libgbm1 libu2f-udev
    displayName: 'Install Debian packages'
    continueOnError: "true"

  - script: |
      ruby -v
      sudo gem install bundler
      sudo bundle install
      sudo cucumber --version
    displayName: 'Bundle install'
    continueOnError: "true"

  - script: |
      sudo wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb 
      sudo dpkg -i google-chrome*.deb
      sudo rm google-chrome*.deb
    displayName: 'Install Chrome Browser'
    continueOnError: "true"

  - script: |
      CHROME_VERSION=$(google-chrome --version | awk '{print $3}' | cut -d '.' -f 1)
      echo "Chrome version: $CHROME_VERSION"
      CHROMEDRIVER_URL=$(curl -s "https://googlechromelabs.github.io/chrome-for-testing/last-known-good-versions-with-downloads.json" | jq -r ".channels.Stable.downloads.chromedriver[] | select(.platform==\"linux64\") | .url")
      echo "Downloading ChromeDriver from: $CHROMEDRIVER_URL"
      wget -N "$CHROMEDRIVER_URL" -O chromedriver-linux64.zip
      unzip chromedriver-linux64.zip
      sudo chmod +x chromedriver-linux64/chromedriver
      sudo mv chromedriver-linux64/chromedriver /usr/local/bin/
      sudo rm -rf chromedriver-linux64.zip chromedriver-linux64
      chromedriver --version
    displayName: 'Install Chromedriver'
    continueOnError: "true"

  - script: |
      cucumber -f pretty -f html -o $(System.DefaultWorkingDirectory)/reports/report-$(currentTimeStamp).html
    displayName: 'E2E Testing'
    continueOnError: "true"

  - publish: $(System.DefaultWorkingDirectory)/reports/report-$(currentTimeStamp).html
    artifact: Report
    displayName: 'Artifacts'
